body {
  font-family: 'Poppins', sans-serif;
}

.nav-name {
  font-family: 'Niconne', serif;
}

.hero-img {
  max-height: 60vh;
  width: 100%;
}

.side-img {
  border-radius: 10px;
}

.flyer {
  width: 100%;
}

.map {
  width: 100%;
  height: 600px;
}
